<!DOCTYPE html>

<title>Sessions</title>

<body>
  <form action="/checkout" method="post">
  
  <h1>Item: <input type="text" name="item"></h1>
  
  <input type="submit" id="submit">
  </form>
</body>
